---
title: Acupuncturist - Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    %h4 Acupuncture
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/services/anh-tran.jpg', :class => "pull-left about-image"

    %p Anh (Ann) Tran is an Illinois Licensed Acupuncturist and is nationally board certified (NCCAOM) in acupuncture.

    %p She graduated Magna Cum Laude from the Midwest College of Oriental Medicine with a Master of Science in Oriental Medicine and a Bachelor in Nutrition, along with a three year Intensive Hands-On Internship in a free community clinic in Chicago. Additionally, she completed an internship at Guangzhou University of Traditional Chinese Medicine (TCM) in China.

    %p Anh has also received training in the MeiZen (beautiful person) Cosmetic Acupuncture System. She is originally from Moline, IL and also holds a Bachelor's and Master's in psychology from Loyola University of Chicago

    %p Anh aspires to have a practice dedicated to guiding people to their maximum health through self knowledge and a focused pathway. Her objective is to balance the energies of the body, mind, and spirit so that the body is in complete harmony. Using her knowledge and experiences in the various modalities of TCM, she adjusts every session to the specific needs of each individual. Anh is a caring, nurturing professional, who brings sensitivity and compassion to her patients.

    %p To experience all Anh has to offer, email #{link_to "anh@mikegeorgeinc.com", "mailto:anh@mikegeorgeinc.com?subject=I'm Interested in Acupuncture"}

.row
  .twelve.columns
    %h3 Acupuncture Services
    %dl
      %dt Cupping
      %dd 
        %p Ancient form of promoting blood and qi circulation to a specific area. The practitioner creates suction in a cup and then applies that cup to the body, which then draws the skin up around the cup, under the cup. The traditional method uses fire. The practitioner wets a cotton ball with alcohol and then ignites the soaked cotton ball and places it in the cup.
        %p This therapy is warming and causes a local increase in the flow of Qi and blood through the meridians. Cupping is frequently used to treat arthritic conditions, sprains and strains, facial paralysis (Bell's Palsy), and the common cold. Patients especially feel the results on tight, achy and knotted muscles.

    %dl
      %dt Gua Sha
      %dd
        %p Gua (gwa), meaning to scrape or extract and Sha (shaw), meaning sand or toxins. It is a traditional ancient Chinese healing technique that dates back over two thousand years. The method of applying Gua Sha involves the layering of Gua Sha oil on the skin. It involves palpation and cutaneous stimulation where the skin is pressured, in strokes, by a round-edged instrument; that results in the appearance of small red petechiae called “sha”, that will fade in 2 to 3 days.
        %p Gua Sha treatments are not painful. Raising Sha removes blood stagnation considered pathogenic, promoting normal circulation and metabolic processes. The patient experiences immediate relief from pain, stiffness, fever, chill, cough, nausea, and so on. Red spots are an indication that toxins are being released. Where the area is deep purple the blood is old and extremely stagnant. A dark green discoloration is a sign that stagnant blood and toxic Qi are being released from the system. Sometimes a clear fluid will draw to the surface in a form that resembles cellulite or goose bumps. Where the skin starts out as a green glow which turns to red during the treatment, is a sign that pain or stagnant chi is being removed. The exposing of the Sha is literally removing disease from deep within the system.

    %dl
      %dt Acupuncture
      %dd Is the insertion of sterile, disposable needles in points along meridians of the body to promote balance of Qi.

    %dl
      %dt Electrical stimulation
      %dd It is the use of micro-electrical currents by attaching them to the inserted needles.

    %dl
      %dt Ear acupuncture
      %dd This therapy treats disorders by stimulating specific points on the auricle with acupuncture needles. Ear acupuncture is the treatment of choice when treating clients working to overcome addictive behaviors, e.g. stop smoking.

    %dl
      %dt Tui Na
      %dd Tui Na translates as “push grasp”, and is a massage technique that moves Qi in various parts of the body. It is generally used to relieve muscle pain, tension and inflammation.

    %dl
      %dt Moxibustion
      %dd Moxibustion is a treatment that uses an herb called Chinese mugwort. It may be burned on the handle of the needle, above the skin, on salt or on a slice of ginger. This is used to “warm” acupuncture points or areas in order to quicken the healing process.

    %dl
      %dt Magnet Therapy (needleless)
      %dd This is utilizing magnet pens on acupuncture points. This form of acupuncture is ideal for kids and patients taking blood thinners.

    %dl
      %dt Chinese Herbals
      %dd Herbs can be a powerful addition to acupuncture therapy. They are used to strengthen, build and support the body or to clear it of excess problems like a cold, fever or acute pain. At time, your practitioner may even suggest taking herbals and then starting afterwards acupuncture. This is suggested to build up your internal strength so you can receive the full benefits acupuncture has to offer.
        
