---
title: Corporate Wellness Program - Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    %h4.page-title Corporate Wellness Program

.row.puff-bottom
  .twelve.columns
    %h5 The Simple Truth? Hurting never felt so good

    %p As the eight-week partnership between Simple Truth and Lateral Fitness came to an end, something strange took place. Underneath the constant complaints about aches and pains, something else was happening — everyone was grinning from ear to ear. After two straight months of sweating through Erik Marthaler’s brutally paced workouts or straining through rep after rep of Scott McWilliam’s commitment to perfect form, the Simple Truth team was actually enjoying themselves. Maybe it was the combination of humor and instruction (with a dash of humiliation) with which both men approached their jobs. Maybe it was the variety of great classes, each presenting their own unique challenges for all fitness levels. Whatever it was, Simple Truth had a calf-cramping, core-crushing, arm-noodling, thigh-burning blast. And that’s really what matters.

    %h5 Join the Corporate Wellness Family at Lateral Fitness!

    %p Benefits of a Corporate Wellness Program for employees include:
    %ul.list-items
      %li Weight reduction
      %li Improved physical fitness
      %li Lower levels of stress
      %li Increased well-being, self-image and self-esteem

    %p Employers can also benefit from Corporate Wellness Programs, according to recent research, employers benefits are:
    %ul.list-items
      %li Enhanced recruitment and retention of healthy employees
      %li Reduced healthcare costs
      %li Decreased rates of illness and injuries
      %li Reduced employee absenteeism
      %li Improved employee relations and morale
      %li Increased productivity

    %p A U.S. Department of Health and Human Services report in 2002 revealed that companies that offer physical activity programs, employers have:
    %ul.list-items
      %li Reduced healthcare costs by 20 to 55 percent
      %li Reduced short-term sick leave by 6 to 32 percent
      %li Increased productivity by 2 to 52 percent

    %p 
      If you are interested in learning more about Corporate Wellness
      = link_to "wendi@trainlateral.com", "mailto:wendi@trainlateral.com"


