---
title: Group Classes - Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    %h4 Group Classes
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/services/group.jpg', :class => "pull-left about-image"

    %p <b>Vinyasa Yoga</b> - this flow class is all about connecting breath (pranayama) to movement (asana). Expect a mix of vigorous standing postures and balances with heart opening back bends and hip opening postures, ending with a deep relaxation. Through the practice you will focus your mind, challenge your body, and ease stress. Each class will be structured differently by our expert instructors, so you’ll never get bored. Basic yoga experience suggested. (We also have Beginner Vinyasa and Power Vinyasa - for the advanced as well)

    %p <b>Power Vinyasa Yoga</b> – if you’re looking to amp up your regular vinyasa routine, head to the mat for this faster paced practice. Incorporating some more challenging asanas, as well as core work, this practice focuses on amplyifying your personal power on the mat. Focus your mind and body in new ways to create exciting change. Suggested for yogis with some previous yoga experience.

    %p <b>Yin Athletica</b> - Yin Athletica is a deep restorative class with long passive stretching sequences which includes some prone and kneeling postures. Addressing the opening and release of the major joints: deep spinal twists, profound shoulder and hip openers, to access the deeper layer of tissue (fascia) done with long 3-5 minute holds. Following a yin class, your body can feel deeply relaxed and often the effects of the release can last long after, releasing deep seated tension and emotions. Come enjoy and discover as you unfold! This class is for all levels for the ‘athlete’ in all of us!  (We also offer a Yin Yoga class for the non-athlete)

    %p <b>Hatha Yoga</b> - Traditional Hatha yoga is a holistic yogic path, including disciplines, physical postures (asana), breathing (pranayama), and meditation. Hatha Yoga is often slower moving than a Power Yoga practice but it can be challenging, stimulating or soft. Hatha yoga may include pranayama, stretching, standing poses, balance poses, and an extended seated sequence. Beginner to advanced!

    %p <b>Core Inferno</b> - You will surely feel the burn in this heated core class. Using core strengthening techniques from Floor Pilates, yoga and Barre classes, you will heat up from the inside out. Combinations and exercises target deep muscles, toning and strengthening the abdomen. The room will also be heated to around 85 degrees. All Levels Welcome!

    %p <b>Simply Shredded</b> – Simply Shredded is a 1 hour total body, cardio, strength and conditioning workout. We isolate one muscle group at a time while taking you through 3 stages of the movement: Stage 1- Easy, Stage 2- Moderate and Stage 3 – Advanced. Each stage is 20 seconds long. It is up to you how intense you want to make the class. Because 3 stages of the exercise are shown, you have 3 choices of which level you’d like to stay at or go to every 20 seconds. This is why all fitness levels are welcome! Simply Shredded uses hand weights, bands, yoga mats and pilates rings to make sure all muscle groups are taken to failure. The circuits are intermixed with spurts of H.I.I.T. (High Intensity Interval Training) to keep your heart rate moving up and down throughout class which will get you closer to getting Shredded!  All Levels Welcome!

    %p <b>Recruit</b> – RECRUIT is a high intensity circuit training interval class that works the muscular and cardiovascular system as a whole. High intensity interval training has been proven to burn more calories, while making you stronger than many other workouts out there. In this class we incorporate bodyweight, free weight and cardiovascular intervals into one intense and fun hour. Using a heart rate monitor and calorie counter has proven this class can burn in the upwards of up to 800 calories an hour! Intermediate to Advanced.

    %p <b>Static</b> – Who knew holding position were so hard! Come in and sweat with Lateral Fitness’ own Scott McWilliam. “Static” is an intense group class which demands individuals to hold a series of positions feeling the burn in their entire body through body weight, light dumbbells, and tubing in timed intervals and circuit training style. All Levels Welcome!

    %p <b>QuickFit</b> – “QuickFit” is a 30 minute circuit training class that uses weights and cardio in timed intervals. This is a great class to get a quick workout in, that will still make you stronger and burn those calories, during a lunch break or when you thought you didn’t have time to get to the gym! Knowledge of how to use weights is suggested. All Levels Welcome!

    %p <u>Referral Program</u>: Refer 3 friends who purchase any training or group class package and choose a complimentary group class of your choice. ($25 value)

    %p <u>Cancellations</u>: Do to our limit class sizes (15-20) Yoga (15-20) Pilates (8-10) Bootcamps, it is imperative for you to cancel your scheduled appointment within 12 hours of class time. If you fail to cancel within the allotted time you will be charged for the single price of the class or if you have purchased a package you will forfeit a session.

    %p Please show up 15 minutes before the start of the class for equipment set up. Since Lateral Fitness wants to keep each class moving smoothly you are not allowed to show up after the start of the class.
    Please notify Lateral Fitness if you are running late. We will release your reservation if you are not present at the start of class.

    %p Please keep checking back! Classes are added monthly!

    = link_to "Schedule a Class", "http://clients.mindbodyonline.com/ws.asp?studioid=33786&stype=41"
    %br
    %br
    = link_to "Prices", "/pricing.html"