---
title: High Intensity Classes - Lateral Fitness Chicago
page_id: services
---

.row
  .eight.columns
    %h4 High Intensity Classes
  .four.columns
    %p.redirect Looking for #{link_to "Yoga", "/services/yoga.html"} or #{link_to "Kettlebell", "/services/kettlebell.html"} Classes?
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/services/group.jpg', :class => "pull-left about-image"

    %p <b>Simply Shredded</b> – Simply Shredded is a 1 hour total body, cardio, strength and conditioning workout. We isolate one muscle group at a time while taking you through 3 stages of the movement: Stage 1- Easy, Stage 2- Moderate and Stage 3 – Advanced. Each stage is 20 seconds long. It is up to you how intense you want to make the class. Because 3 stages of the exercise are shown, you have 3 choices of which level you’d like to stay at or go to every 20 seconds. This is why all fitness levels are welcome! Simply Shredded uses hand weights, bands, yoga mats and pilates rings to make sure all muscle groups are taken to failure. The circuits are intermixed with spurts of H.I.I.T. (High Intensity Interval Training) to keep your heart rate moving up and down throughout class which will get you closer to getting Shredded!  All Levels Welcome!

    %p <b>Recruit</b> – RECRUIT is a high intensity circuit training interval class that works the muscular and cardiovascular system as a whole. High intensity interval training has been proven to burn more calories, while making you stronger than many other workouts out there. In this class we incorporate bodyweight, free weight and cardiovascular intervals into one intense and fun hour. Using a heart rate monitor and calorie counter has proven this class can burn in the upwards of up to 800 calories an hour! Intermediate to Advanced.

    %p <b>Static</b> – Who knew holding position were so hard! Come in and sweat with Lateral Fitness’ own Scott McWilliam. “Static” is an intense group class which demands individuals to hold a series of positions feeling the burn in their entire body through body weight, light dumbbells, and tubing in timed intervals and circuit training style. All Levels Welcome!

    %p <b>QuickFit</b> – “QuickFit” is a 30 minute circuit training class that uses weights and cardio in timed intervals. This is a great class to get a quick workout in, that will still make you stronger and burn those calories, during a lunch break or when you thought you didn’t have time to get to the gym! Knowledge of how to use weights is suggested. All Levels Welcome!