---
title: Lunch - Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    %h4.page-title Lunchtime Membership

.row.puff-bottom
  .twelve.columns
    %p Need to get out of the office during lunch? Lateral fitness is happy to offer a lunch-time membership.  The time is offered from 12-2pm Monday to Friday.  This membership includes: full access to cardio, strength equipment, and full amenity showers.

    %p 
      If you are interested in learning more about Corporate Wellness
      = link_to "info@trainlateral.com", "mailto:info@trainlateral.com"


