---
title: Muscle System Specialist - Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    %h4.page-title Muscle System Specialist

.row.mss_top_panel
  .five.columns
    .panel
      %h4.upper.header Improving Your Human Performance

.row
  .twelve.columns.mss_row
    %p A Muscle System Specialist (MSS) works with the muscle system. Scott and Cindi are practitioners who solve problems associated with human performance by assessing specific aspects of the musculoskeletal system. Skeletal muscle contracts, and contract by definition means to shorten.

    %p As a specialists in this area Scott and Cindi work to improve the current state of an individual’s muscular system by restoring and improving the contractile ability of muscle as a function of its ability to fully shorten its length. This is a unique approach to addressing performance issues. Scott relies on the philosophy and tools developed by Muscle Activation Techniques (MAT&trade;) and the strategic application of forces to the body gleaned from the Resistance Training Specialist (RTS) Program. (To learn more about MAT&trade; and RTS go to #{link_to "muscleactivation.com", "http://www.muscleactivation.com/", :target => "_blank"} and #{link_to  "resistancetrainingspecialist.com", "http://www.resistancetrainingspecialist.com", :target => "_blank"}).

.row
  .four.columns
    = image_tag '/images/services/scott_cindy.jpg', :class => "about-image"
  .eight.columns
    %p Scott and Cindi solve problems in human movement and motor control by focusing on the contraction-shortening aspect of muscle tension development. When a muscle is able to contract efficiently it will shorten appropriately. Since muscles work in tandem to control joint motion the opposing muscle(s) typically will be able to lengthen and remove that "tight" feeling when muscle contraction-shortening is restored.

    %p By applying forces, strategically to the body, we assess the ability of muscles to contract through a unique combination of procedures. Our goal is to improve and progress the individual’s functional performance, regardless of where he/she is currently along the fitness spectrum. As well we educate the individual on how to prevent and manage a recurring problem.  The better the body is able to contract muscles under its own power, the better the body is able to move which, in turn, may improve performance and reduce a person’s pain or discomfort.

    %p Recall a time when you were involved in a group project and imagine there were 5 people in the group. What happens if 3 people don’t do their jobs, essentially just leaving the group? Not only would the other 2 people be forced to do the entire project themselves they would be stressed, angry, and extremely tired in the process, creating an unfavorable environment for themselves and everyone else.  Our job is to bring back the missing group members (muscles who have diminished contractile efficiency), which shares the workload across individuals and improves the group dynamics (decreases individual overworked muscle(s), injury, and pain). Ultimately leading to a successful project outcome (improved joint mobility and reduced wear on joint surfaces). Result: An efficiently contracting muscular system leads to better movement, including exercise, and a happier, healthier body.

.row
  .twelve.columns
    %p We can work cooperatively with health professionals, such as Doctors of Osteopathic Medicine (DO), Medical Doctors (MD), Physical Therapists and Chiropractors as well as with Massage Therapists, Personal Trainers and other exercise-based professionals. We are an ADJUNCT to both health professionals and exercise professionals.  Your health and well-being is optimized by a team effort. We would like to be on your healthcare team.

.row
  .three.columns.benefit
    %h5.upper.subheader Who can benefit from our unique approach?

  .nine.columns
    %p Someone who is:

    %ul.list-items
      %li Frustrated with joint pains which limit daily life.
      %li Tired of neck and shoulder pain from sitting at a desk all day.
      %li Overwhelmed by the stresses of a job and worried about the body breaking down.
      %li Concerned about the aging process and who wants to be proactive instead of reactive.
      %li Confused about how or where to start exercising without injury after being sedentary.
      %li Afraid that insurance-allotted physical therapy, even following surgery, isn’t enough to prepare the body to resume exercise.
      %li Discouraged that a nagging injury is hindering athletic performance.

.row
  .twelve.columns
    %h5.upper.subheader More Information?
    %p Contact #{link_to "info@trainlateral.com", "mailto:info@trainlateral.com"} for more information.
    