---
title: Muscle Activation Technique - Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    %h4 Muscle Activation Technique
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/services/mat.jpg', :class => "pull-left about-image"

    %p 
      Muscle Activation Techniques was founded by Greg Roskopf to learn more about Greg Roskoph please visit 
      = link_to 'muscleactivation.com', 'http://www.muscleactivation.com/', :target => "_blank"

    %p MAT was developed to improve and maintain motor control by achieving a more efficient “stable” muscular system.  MAT improves motor control/ coordination, as it applies to exercise, increases muscular strength by attempting to create symmetrical ability from one side to another, which also improves limb range of motion.

    %p When a demand is placed on the neuro-muscular system during exercise, the muscular system is required to react to and manage the forces through positions and motions of the entire body via the muscular system’s ability to contract. If the muscular system cannot contract effectively this may negatively affect one’s ability to participate in exercise. Motor control may be diminished resulting in an increased risk of injury to various components of human physiology while exposed to the forces associated with exercise and activities of daily life.

    %p The primary benefit of MAT is its ability to assess, prepare and improve an individual’s muscular system contractile capabilities.  MAT has a unique approach. Tightness is the body’s protective mechanism to create “joint stability”. MAT uses tightness to address the underlying issue, which is being caused by specific weakened or over stressed muscles.  MAT does not force change on the body but works with it to make improvements, strategically negotiating changes in motion and muscle contraction.

    %p MAT uses 4 tools:
    %ul.list-items
      %li Positional Iso-Angular Contraction (PIC). PIC is holding a very specific position in a low grade isometric
      %li Comparative Movement Assessment (CAM). CAM is comparing one side to another for asymmetrical limitations
      %li Active Muscular Contract and Sustain Test (AMC&S). AMC&S is attempting to sustain a very specific testing position and the ability to respond to a direction of force.
      %li Digital Force Application to Muscular Attachment Tissue (DFAMAT). DFAMAT is applying a very direct application of force to attachment sites of the muscles that was tested during the AMC&S in hopes to re-establish neuro-muscular communication.

    %p MAT can be beneficial to individuals on either end of the exercise continuum: for individuals being reintroduced to exercise from living many years of a sedentary life style or recovering from an injury the muscular system has a low threshold to stress and individuals who are extremely active.  Their muscular system could be in systemic over load or plagued with repetitive injuries.  MAT can help eliminate the compensatory pattern the body has created to allow athletes to perform at their highest level.  Athletes, who have used MAT, range from professional athletes, collegiate athletes, triathletes, exercise enthusiasts, or everyday people looking to move and function from day to day.

    %p 
      If you are interested in learning more about MAT please email 
      = link_to "scott@trainlateral.com", "mailto:scott@trainlateral.com"