---
title: Muscle Activation Technique - Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    %h4.page-title Muscle Activation Technique
.row
  .twelve.columns
    = image_tag '/images/services/matlogo.jpg', :class => "about-image"
.row
  .twelve.columns
    %h4.upper Prepare your body for optimal function!

    %p Muscle Activation Techniques (MAT) can be beneficial to individuals being reintroduced to exercise after many years of a sedentary life style or recovering from an injury.

    %p MAT was founded by Greg Roskopf. To learn more please visit #{link_to 'muscleactivation.com', 'http://www.muscleactivation.com/', :target => "_blank"}

.row
  .twelve.columns
    %h5 Benefits of MAT
    %ul.list-items
      %li Improves motor control and coordination
      %li Increases muscular strength
      %li Improves limb range of motion

    %p The primary benefit of MAT is its ability to assess, prepare and improve an individual’s muscular system contractile capabilities. Tightness is the body’s protective mechanism to create "joint stability". MAT uses tightness to address the underlying issue, which is being caused by specific weakened or over stressed muscles. MAT does <u>not force change on the body but works with it</u> to make improvements, strategically negotiating changes in motion and muscle contraction.

    %p The muscular system has a low threshold for stress and individuals who are extremely active. It could be in systemic overload or plagued with repetitive injuries. MAT can help <u>eliminate</u> the compensatory pattern the body has created to allow athletes perform at their highest level. Athletes, who have used MAT, range from professional athletes, collegiate athletes, triathletes, exercise enthusiasts, or everyday people looking to move and function from day to day.
    
    %h5 How does MAT work?
    %p When a demand is placed on the neuro-muscular system during exercise, the muscular system is required to react to and manage the forces through positions and motions of the entire body via the muscular system’s ability to contract. If the muscular system cannot contract effectively this may negatively affect one’s ability to participate in exercise. Motor control may be diminished resulting in an increased risk of injury to various components of human physiology while exposed to the forces associated with exercise and activities of daily life.

    %p MAT uses 4 tools:
    %ul.list-items
      %li Positional Iso-Angular Contraction (PIC). PIC is holding a very specific position in a low grade isometric
      %li Comparative Movement Assessment (CAM). CAM is comparing one side to another for asymmetrical limitations
      %li Active Muscular Contract and Sustain Test (AMC&S). AMC&S is attempting to sustain a very specific testing position and the ability to respond to a direction of force.
      %li Digital Force Application to Muscular Attachment Tissue (DFAMAT). DFAMAT is applying a very direct application of force to attachment sites of the muscles that was tested during the AMC&S in hopes to re-establish neuro-muscular communication.

    %h5 Sign Me Up!
    %p If you are interested in learning more about MAT please email #{link_to "info@trainlateral.com", "mailto:info@trainlateral.com?subject=I'm Interested in Muscle Activation Technique"}