---
title: Personal Training - Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    %h4.page-title Personal Training
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/services/personal-training.jpg', :class => "image-centered"

.row
  .twelve.columns
    %p Lateral Fitness offers personal trainers and instructors with an array of backgrounds and combined over 40 years of experience and education.  They understand how to train according to individual tolerances, specific exercise decisions, machine break down and how to strategically manipulate exercises to fit an individual’s needs.  We offer a very friendly environment where trainers come to join a family.  At Lateral Fitness, we provide a very exclusive, one-on-one, personalized relationships with our clients with hassle free memberships or crowded machines.

    %p All trainers at Lateral Fitness have received nationally accredited Certifications from one or more of the following:
    %ul.list-items
      %li National Academy of Sports Medicine (NASM)
      %li American College of Sports Medicine (ACSM)
      %li National Personal Training Institution (NPTI)
      %li Muscle Activation Technique (MAT)
      %li Resistance Training Specialist (RTS)
      %li Certified Strength and Conditioning Specialist (CSCS)
      %li American Council on Exercise (ACE)

    