---
title: Massage and Soul Therapy - Lateral Fitness Chicago
page_id: services
---

.row
  .eight.columns
    %h4.page-title Massage and Soul Therapy
  .four.columns
    %p.redirect Looking for #{link_to "High Intensity", "/services/high-intensity.html"} or #{link_to "Kettlebell", "/services/kettlebell.html"} Classes?
.row.puff-bottom
  .twelve.columns.classes
    = image_tag '/images/services/group.jpg', :class => "pull-left about-image"

    %p Need to get out of the office during lunch? Lateral fitness is happy to offer a lunch-time membership.  The time is offered from 12-2pm Monday to Friday.  This membership includes: full access to cardio, strength equipment, and full amenity showers.

    %p 
      If you are interested in learning more about Massage and Soul Therapy please email 
      = link_to "info@trainlateral.com", "mailto:info@trainlateral.com"
    