---
title: Yoga Classes - Lateral Fitness Chicago
page_id: services
---

.row
  .eight.columns
    %h4 Yoga Classes
  .four.columns
    %p.redirect Looking for #{link_to "High Intensity", "/services/high-intensity.html"} or #{link_to "Kettlebell", "/services/kettlebell.html"} Classes?
.row.puff-bottom
  .twelve.columns.classes
    = image_tag '/images/services/group.jpg', :class => "pull-left about-image"

    %p <b class="name">Vinyasa Yoga</b> This flow class is all about connecting breath (pranayama) to movement (asana). Expect a mix of vigorous standing postures and balances with heart opening back bends and hip opening postures, ending with a deep relaxation. Through the practice you will focus your mind, challenge your body, and ease stress. Each class will be structured differently by our expert instructors, so you’ll never get bored. Basic yoga experience suggested. (We also have <b>Beginner Vinyasa</b> and <b>Power Vinyasa</b> - for the advanced as well)

    %p <b class="name">Power Yoga</b> This class is more rigorous than a normal yoga flow and will raise your vitality and physical power. Incorporating simple but challenging poses, core work, and focused breath, this practice will amplify your personal power on the mat. Focus your mind and body in new ways to create exciting change. Suggested for those with some previous yoga experience, but suitable for all levels.

    %p <b class="name">Yin Athletica</b> Yin Athletica is a deep restorative class with long passive stretching sequences which includes some prone and kneeling postures. Addressing the opening and release of the major joints: deep spinal twists, profound shoulder and hip openers, to access the deeper layer of tissue (fascia) done with long 3-5 minute holds. Following a yin class, your body can feel deeply relaxed and often the effects of the release can last long after, releasing deep seated tension and emotions. Come enjoy and discover as you unfold!  This class is for all levels for the ‘athlete’ in all of us!  (We also offer a Yin Yoga class for the non-athlete)

    %p <b class="name">Yoga Scult</b> This class is a combination of yoga inspired movements and free weights for increased muscle endurance, strength, stamina, and flexibility. Our Yoga Sculpt is a total body workout designed to tone or ‘sculpt’ every major muscle group. Free weights serve as your own personal adjuster as you move through sun salutations and other yoga postures, enabling extra length and depth in each pose. Strength training is great way to build lean muscle, which in return, will have greater long term impact on your metabolism, even while resting. All Levels!

    %p <b class="name">Hatha Yoga</b> Traditional Hatha yoga is a holistic yogic path, including disciplines, physical postures (asana), breathing (pranayama), and meditation. Hatha Yoga is often slower moving than a Power Yoga practice but it can be challenging, stimulating or soft. Hatha yoga may include pranayama, stretching, standing poses, balance poses, and an extended seated sequence. Beginner to advanced!

    %p <b class="name">Core Inferno</b> You will surely feel the burn in this heated core class. Using core strengthening techniques from Floor Pilates, yoga and Barre classes, you will heat up from the inside out. Combinations and exercises target deep muscles, toning and strengthening the abdomen. The room will also be heated to around 85 degrees. All Levels Welcome!

    %p.large.centered Please keep checking back! Classes are added monthly!
    
    %hr.colored.eight.columns.centered.puff-bottom

    %span.promo Referral Program
    %p Refer 3 friends who purchase any training or group class package and choose a complimentary group class of your choice. ($25 value)

    %span.note Class Policy
    %p Please show up 15 minutes before the start of the class for equipment set up. Since Lateral Fitness wants to keep each class moving smoothly you are not allowed to show up after the start of the class. Please notify Lateral Fitness if you are running late. We will release your reservation if you are not present at the start of class.

    %span.note Cancellations
    %p Do to our limit class sizes (15-20) Yoga (15-20) Pilates (8-10) Bootcamps, it is imperative for you to cancel your scheduled appointment within 12 hours of class time. If you fail to cancel within the allotted time you will be charged for the single price of the class or if you have purchased a package you will forfeit a session.

    