---
title: Kara Schabacker - Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    %h4 Kara Schabacker
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/massage/kara-schabacker-large.jpg', :class => "pull-left about-image"

    %p Kara attended the SOMA Institute of Chicago where she graduated valedictorian of her class and received a degree in clinical massage therapy. She quickly followed up with SOMA’s Masters program where she was introduced to many forms of therapy including Myofascial Release, Aromatherapy and Pre-natal massage.

    %p Although each class and its accompanying skills proved immediately useful, she found Myofascial Release the most inspiring. Kara has continued to study the John F. Barnes Myofascial technique and has taken his classes all over the country, including an enlightening week working side by side with John in Sedona, Az, doing a skill enhancement program.

    %p While Kara’s primary specialty was relaxation she quickly learned the value in a therapeutic approach to bodywork. She has kept a healthy balance by staying busy at spas around the city including the Four Seasons Chicago and Allyu spa, taking in private clients and also by continuing her education in Myofascial Release and other techniques. Kara is licensed by the State of Illinois. She is currently serving the Chicago-land area.
