---
title: Leslie Walter - Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    %h4 Leslie Walter LMT, ABMP
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/massage/leslie-walter.jpg', :class => "pull-left about-image"

    %p Leslie graduated from  Cortiva Institute - Chicago School of Massage Therapy in 2008 and specializes in myofascial release, clinical approaches for the neck and low back, postural strain issues, sports massage, deep tissue, and trigger point work. Leslie grew up in Deerfield, IL and attended Savannah College of Art and Design in Georgia where she received a BFA in Textile Design. After she began running in 2000, she felt challenged trying to maintain a healthy lifestyle while balancing the demands of work and life. She felt passionate about finding a career where she could encourage others seeking to improve how they felt with positive health and wellness choices. Leslie enjoys sharing her passion for anatomy and kinesiology with clients and combines that passion with clinical reasoning to evaluate effectiveness and structure future session plans. When not at the office, Leslie loves to play with her dog, run, practice yoga, hike, and cook.
