.main-content .header {
  background: none;
  padding-top: 5px;
}
.sidebar-button,
.sidebar-button:active,
.sidebar-button:hover,
.sidebar-button:focus {
  color: #111;
  font-size: 30px;
}
.header-links {
  text-align: right;
  li {
    display: inline-block;
    font-size: 11px;
    padding-left: 5px;
  }
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}
.headline_socials {
  float: right;
  li {
    display:inline-block;
    float:left;
    padding: 0 5px;
  }
  a {
    color: #C0C0C0;
    font-size: 30px;
    
    &.facebook:hover {
      color: #3B5998;
    }
    &.twitter:hover {
      color: #4099FF; 
    }
    &.googleplus:hover {
      color: #D34836;
    }
    &.instagram:hover {
      color: #517fa4;
    }
  }
  
  
}
.phone {
  clear: both;
  font-style: italic;
  font-weight: bold;
  float: right;
  margin: 10px 0 0;
}