/*-- Navigation --*/
.navigation {
  padding-top: 10px;
  overflow: visible;
}
[role="main"] {
  width: 100%;
  padding: 0;
}
#sidebar {
  padding: 0;
}
#sideMainNav {
  margin: 0;
}


/*-- Top Bar Overrides --*/
.top-bar {
  margin-bottom: 0;
}
.top-bar .nav-links a,
.top-bar .right a {
  text-transform: uppercase;
}
.navigation .top-bar .right a {
  color: $secondaryColor;
}
.top-bar ul > li.has-dropdown .dropdown li a {
  background-color: inherit;
}
.top-bar ul.nav-links,
.top-bar ul.right {
  & > li {

    &:hover,
    &:focus {
      background-color: white;

      a:hover {
        color: $backgroundColor;
      }
    }

    &.active a {
      background-color: white;
      color: $secondaryColor;

      &:hover {
        color: $backgroundColor;  
      }
    }
  }
}

.nav-dropdown {
  border-top: 4px solid $secondaryColor;
}

.show-for-small .nav-bar > li {
  padding: 7px;
  font-weight: bold;
  background-color: grey;
  margin-bottom: 1px;
  margin-right: 5px;

  a {
    color: white;
  }

  &.active {
    background-color: white;

    a {
      color: $secondaryColor;
    }
  }
}
