@import "settings";
@import "header";
@import "navigation";

/*-- Layout -- */
body {
  background-color: $backgroundColor;
}
p, td, div { 
  font-size:14px; 
  line-height:20px;
}
.page-title {
  border-top: 3px solid $secondaryColor;
  display: inline-block;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
.small {
  font-size: 11px;
  line-height: 18px;
}
.promo {
  color: $secondaryColor;
  font-weight: bold;
}
.alt {
  color: $secondaryColor;
}
.note {
  font-weight: bold;
}
.large {
  font-size: 18px;
}
.centered {
  text-align: center;
}
.list-items {
  list-style: none;
  border-left: 3px solid $secondaryColor;
  padding-left: 10px;

  li {
    line-height: 20px;
    margin: 0 0 0 0px;
    padding: 0 0 0 16px;
    position: relative!important;
  }
  li:before {
    content: '\25cf';
    padding-right: 0;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 20px;
    font-size: 12px;
  }
}
.row, .column {
  background-color: white;
}
.puff-bottom {
  padding-bottom: 15px;
}

// Orbit
.slider .slider-inner {
  margin-top: 10px;
}
.orbit-caption h4 {
  color: #fff;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: none;

  a.link-for-small {
    color: #FFF
  }
}
.orbit-wrapper .orbit-caption {
  padding: 10px;
  bottom: 3px;

  p {
    text-align: left;
    margin:0;
  }
}


#featured { 
  background: url(../images/spinner.gif) center center #f4f4f4 no-repeat; height: 300px; 

  img { 
    display: none; 
  }
}
#featured.orbit { 
  background: none;

  img { 
    display: block; 
  }
}


// Promos
.promos {
  i {
    font-size: 24px;
    margin-right: 5px;
  }
  h4 {
    text-align: center;
  }
  .panel {
    
    border-bottom: 4px solid $secondaryColor;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 25px 20px;
    min-height: 225px;

    h4 {
      display: inline;
    }

    & > p {
      margin-top: 5px;
    }
  }
}


// About Us
.about-image {
  margin-right: 20px;
}
.about {
  blockquote.left {
    width: 30%;
  }
}


// Pricing Table
.pricing-table {
  border: none;
  padding: 1px;

  .title {
    line-height:46px;
    text-transform:uppercase;
  }
  &.most-popular .title {
    background-color: red;
  }
  &.special .title {
    background-color: #4B9EDF;
  }
  .cta-button {
    padding:21px 40px 22px 40px;

    a {
      margin:0;
      padding: 0 20px;
      height:36px;
      font-size:18px;
      line-height:36px;
      display:block;
      text-decoration:none!important;
      border:none;
      color:#5a5a5a;
      float:none;
      background:#ffffff;
      overflow:hidden;
      transition: color 300ms, background-color 300ms;
      -webkit-transition: color 300ms, background-color 300ms;
      -moz-transition: color 300ms, background-color 300ms;
      -o-transition: color 300ms, background-color 300ms;

      &:hover {
        background:#5a5a5a;
        color:#ffffff;
      }    
    }
  }
}

/*-- Services --*/
.grid-layout {
  padding-top: 20px;
}
.services .service,
.classes .class {
  height: 410px;
  img {
    margin: 0 auto;
  }
}

.classes {
  .class-image {
    margin-bottom: 20px;
  }
  .name {
    display: block;
    font-size: 16px;
    text-shadow: 1px 1px #DCDCDC;
  }
}
.classes .level {
  color: $secondaryColor;
  font-size: 12px;
  text-transform: uppercase;
  float: right;
  margin-right: 30px;
}
.classes .subheader {
  margin-bottom: 0;
}

.instructor-panel {
  height: 370px;
}

.member {

  .panel {
    border-bottom: #dcdcdc 3px solid;
    transition: border-color 400ms;
    -webkit-transition: border-color 400ms;
    -moz-transition: border-color 400ms;
    -o-transition: border-color 400ms;

    &:hover {
      border-bottom-color: #ff4b28;

      h5 {
        color: #ff4b28;
      }
    }
  }

  .th {
    display: block;
    margin: 0px auto 10px
  }

  h5 {
    text-align: center;
    margin: 0 0 5px 0;
    padding: 0;
    color: #5a5a5a;
    font-size: 22px;
    transition: color 400ms;
    -webkit-transition: color 400ms;
    -moz-transition: color 400ms;
    -o-transition: color 400ms;
  }

  .op {
    display: block;
    clear: both;
    color: #a9a9a9;
    font-size: 15px;
    text-align: center;
  }

  .member_desc {
    border-top: #dcdcdc 1px solid;
    padding: 9px 0 16px 0;
    font-size: 15px;
    line-height: 20px;

    .exc {
      padding: 0;
      text-align: center;
      font-size: 15px;
      line-height: 20px;
    }
    .smallproflinks {
      text-align: center;
      padding: 16px 0 0 0;

      .icon-facebook-sign,
      .icon-twitter-sign {
        font-size: 30px;
      }
    }
  }
}

/*-- Footer --*/
.main-content footer {
  background-color: $backgroundColor;
  padding: 10px 0;

  .logo {
    position:absolute;
    left:0px;
    top:40px;
    display:block;
    width:225px;
    height:40px;
  }

  .footer_socials {
    position:absolute; 
    top:45px;
    right:250px;
    li {
      height:16px;
      display:inline-block;
      float:left;
      margin-left:15px;

      &:first-child {
        margin-left:0;
      }
      a {
        width:16px; 
        height:16px;
        display:block;
      }
    }
  }

  .address {
    color: #000;
    text-align: right;
    line-height: 16px;
    font-size: 11px;
  }

  i {
    font-size: 6px;
    line-height: 10px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 4px;
  }
  
}

footer span {
  padding:0px 0px 0px 0;
  position:absolute;
  right:0px;
  top:78px;
}

// Dropcaps
.dropcap {
  font-size: 50px;
  line-height: 42px;
  font-weight: bold;
  margin: -3px 9px -2px 0;
  text-transform: uppercase;
  float: left;
  color: $backgroundColor;

  &.light {
    color: #BEBEBE;
  }
  &.colored {
    color: $secondaryColor;
  }
}

// Blockquotes
blockquote {
  padding:0 0 0px 0px;
  border:none;
  margin:0 0 20px 0;

  .blockquote_wrapper {
    margin:0 25px 0 0px;
    padding-left:14px;
    border-left:3px solid;  
  }
}
blockquote.type1 .blockquote_wrapper {
  border-color:#c1c1c1;
}
blockquote.type2 .blockquote_wrapper {
  border-color:#5a5a5a;
}
blockquote.colored .blockquote_wrapper {
  border-color:$secondaryColor;
}
blockquote p { 
  font-size:13px; 
  color:#5a5a5a;
  margin-bottom:7px;
}
blockquote span {
  font-size:13px; 
  display:block; 
  color:#a9a9a9;
  font-style:italic;
}
blockquote.right { 
  width:50%; 
  float:right;
  padding-right:0!important;
  margin-left:12px;
}
blockquote.right .blockquote_wrapper {
  margin:0 0px 0 25px;
  padding-left:14px;
}
blockquote.left { 
  width:50%; 
  float:left; 
}
blockquote.left .blockquote_wrapper {
  margin:0 25px 0 0px;
  padding-left:14px;
}

.get-in-touch > li {
  list-style-type: none;
}

.photos .block-grid.three-up > li {
  padding: 1px 3px;
}

.classes .accordion {
  border-bottom: 1px solid #dcdcdc;

  li {
    border-top: 1px solid #dcdcdc;

    &.active {
      border-top: 3px solid $secondaryColor;

      .content {
        border-left: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
      }
    }

    .title {
      background: white;
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;

      text-transform: none;
      cursor: pointer;
      font-size: 18px;
      line-height: 20px;
      transition: color 300ms, border-color 600ms;
      -webkit-transition: color 300ms, border-color 600ms;
      -moz-transition: color 300ms, border-color 600ms;
      -o-transition: color 300ms, border-color 600ms;

      &:hover {
        color: $secondaryColor;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .promos .panel {
    min-height: 100px;
  }

  .orbit-wrapper .slide h3 {
    font-size: 16px;
    line-height: 14px;
  }
  .orbit-caption h4 {
    font-size: 14px;
    margin: 0;
    line-height: 16px;
  }
  .orbit-caption p {
    font-size: 10px;
    line-height: 12px;
  }

  .services .right {
    float: none !important;
  }

  .services .service,
  .classes .class {
    height: auto;
  }

  .main-content .services-row {
    margin: 5px 0 10px 0;
  
    p {
      font-size: 14px;
    }
    i {
      font-size: 11px;
    }
  }

  .services_personal-training .list-items {
    margin-left: 0;
  }
  .main-content footer .address {
    text-align: left;
    font-size: 13px;
    padding: 10px;
  }
  .about blockquote.left {
    width: 100%;
    margin: 10px;
  }
  .about-image {
    width: 100%;
  }
  .classes .accordion li {
    .level {
      display: block;
      float: none;
    }
  }
}