@import "settings";

/*-- Layout -- */
body {
  background-color: $backgroundColor;
}
.row, .column {
  background-color: white;
}
.header {
  background: none;
  padding-top: 10px;
}
.headline_socials {
  padding:10px;
  float: right;
  li {
    height:16px;
    display:inline-block;
    float:left;
    margin-left:15px;
  }
}
.headline_socials li:first-child {
  margin-left:0;
}
.headline_socials li a {
  width:16px; 
  height:16px;
  display:block;
}
.main_socials a {
  opacity:0.44;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=44);
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  -moz-transition:opacity 300ms;
  -o-transition: opacity 300ms;
}
.main_socials a:hover {
  opacity:1;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);  
}

/*-- Navigation --*/
.navigation {
  padding-top: 10px;
  overflow: visible;
}
[role="main"] {
  width: 100%;
  padding: 0;
}


/*-- Top Bar Overrides --*/
.top-bar .nav-links > li:hover, 
.top-bar .nav-links > li.active, 
.top-bar .nav-links > li:focus {
  background: none;
  border-top: 3px solid $secondaryColor;
  margin-top: -3px;
}

/*-- Header --*/
.headline_socials .ico_socialize {
  width:16px; 
  height:16px;
  display:block;
  margin: 0;
}
.phone {
  clear: both;
  font-style: italic;
  font-weight: bold;
  float: right;
  margin: 10px 0 0;
}


// Orbit
.orbit-wrapper {
  background-color: #d9d9d9;
  padding: 10px;
  .slide {
    background-color: #d9d9d9;
    .no-touch h3 {
      width: 90%;
    }
    p {
      width: 98%;
    }
  }
}
.slider {
  padding-top: 10px;
}

#featured { 
  background: url(/images/spinner.gif) center center #f4f4f4 no-repeat; height: 300px; 
}
#featured img { 
  display: none; 
}
#featured.orbit { 
  background: none; 
}
#featured.orbit img { 
  display: block; 
}

@media only screen and (max-width: 767px) {
  .orbit-wrapper .slide h3 {
    font-size: 16px;
    line-height: 14px;
  }
}

// Promos
.promos {
  h3 {
    text-align: center;
  }
  .panel {
    min-height: 250px;
  }
}
@media only screen and (max-width: 767px) {
  .promos .panel {
    min-height: auto;
  }
}

// Pricing Table
.pricing-table {
  border: none;
  padding: 1px;

  .title {
    line-height:46px;
    text-transform:uppercase;
  }
  &.most-popular .title {
    background-color: red;
  }
  .cta-button {
    padding:21px 40px 22px 40px;

    a {
      margin:0;
      padding: 0 20px;
      height:36px;
      font-size:18px;
      line-height:36px;
      display:block;
      text-decoration:none!important;
      border:none;
      color:#5a5a5a;
      float:none;
      background:#ffffff;
      overflow:hidden;
      transition: color 300ms, background-color 300ms;
      -webkit-transition: color 300ms, background-color 300ms;
      -moz-transition: color 300ms, background-color 300ms;
      -o-transition: color 300ms, background-color 300ms;

      &:hover {
        background:#5a5a5a;
        color:#ffffff;
      }    
    }
  }
}

/*-- Services --*/
.services .right {
  float: right !important;
}
@media only screen and (max-width: 767px) {
  .services .right {
    float: none !important;
  }
}

/*-- Team --*/
.member {

  .panel {
    border-bottom: #dcdcdc 3px solid;
    transition: border-color 400ms;
    -webkit-transition: border-color 400ms;
    -moz-transition: border-color 400ms;
    -o-transition: border-color 400ms;

    &:hover {
      border-bottom-color: #ff4b28;

      h5 {
        color: #ff4b28;
      }
    }
  }

  .th {
    display: block;
    margin: 0px auto 10px
  }

  h5 {
    text-align: center;
    margin: 0 0 5px 0;
    padding: 0;
    color: #5a5a5a;
    font-size: 22px;
    transition: color 400ms;
    -webkit-transition: color 400ms;
    -moz-transition: color 400ms;
    -o-transition: color 400ms;
  }

  .op {
    display: block;
    clear: both;
    color: #a9a9a9;
    font-size: 15px;
    text-align: center;
  }

  .member_desc {
    border-top: #dcdcdc 1px solid;
    padding: 9px 0 16px 0;
    font-size: 15px;
    line-height: 20px;

    .exc {
      padding: 0;
      text-align: center;
      font-size: 15px;
      line-height: 20px;
    }
    .smallproflinks {
      text-align: center;
      padding: 16px 0 0 0;
    }
  }
}

/*-- Footer --*/
.main-content footer {
  background-color: $backgroundColor;
  padding: 10px 0;

  .logo {
    position:absolute;
    left:0px;
    top:40px;
    display:block;
    width:225px;
    height:40px;
  }

  .footer_socials {
    position:absolute; 
    top:45px;
    right:250px;
    li {
      height:16px;
      display:inline-block;
      float:left;
      margin-left:15px;

      &:first-child {
        margin-left:0;
      }
      a {
        width:16px; 
        height:16px;
        display:block;
      }
    }
  }

  .address {
    font-weight: bold;
    text-align: right;
    line-height: 16px;
    font-size: 12px;
  }
  
}

@media only screen and (max-width: 767px) {
  .main-content footer .address {
    text-align: left;
    font-size: 14px;
    padding: 10px;
  }
}

footer span {
  padding:0px 0px 0px 0;
  position:absolute;
  right:0px;
  top:78px;
}

/*-- Socials Icons --*/
.ico_socialize {
  display:inline-block;
  float:left;
  margin:0 10px 10px 0;
  background-color:#dcdcdc;
  background-position:center;
  background-repeat:no-repeat;  
  transition: background-color 300ms;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -o-transition: background-color 300ms;

  &.type1 {
    width:36px;
    height:36px;
  }
  &.type2 {
    width:26px;
    height:26px;
  }
}
.ico_socialize_facebook1 {
  background-image:url(/images/icons/ico_socialize_facebook1.png);
  &:hover {
    background-color:#3b5998; 
  }
}
.ico_socialize_facebook2 {
  background-image:url(/images/icons/ico_socialize_facebook2.png);
}
.ico_socialize_twitter1 {
  background-image:url(/images/icons/ico_socialize_twitter1.png);
  &:hover {
    background-color:#4099FF; 
  }
}
.ico_socialize_twitter2 {
  background-image:url(/images/icons/ico_socialize_twitter2.png);
}
.ico_social-delicious { 
  background:url(/images/icons/ico_social-delicious.png) 0 0;
}
.ico_social-tumbler { 
  background:url(/images/icons/ico_social-tumbler.png) 0 0;
}
.ico_social-vimeo { 
  background:url(/images/icons/ico_social-vimeo.png) 0 0;
}

/*-- Tooltip --*/
.has-tip {
  cursor: pointer;
}