---
title: Adrienne Marie - Lateral Fitness Chicago
page_id: trainers
---

.row
  .twelve.columns
    %h4 Adrienne Marie
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/trainers/adrienne-marie-large.jpg', :class => "pull-left about-image"
    %p Adrienne is no stranger to the health and fitness world. Since 1995, she’s been personal training and since 2006 she’s been teaching group fitness classes. Over the years, Adrienne’s attained certifications with ACE, NSCA and NASM. She’s a former NPC fitness competitor and has won various personal training awards while employed with Bally Total fitness 1995-2004. She’s trained and has extensive experience working with all types of people such as; deaf, blind, paraplegic, morbidly obese, competition prep, sport specific and more. Her no nonsense approach to health and fitness is prevalent in all of her classes because she believes if you aren’t challenged there will be no change. Adrienne teaches all formats of cardio conditioning and weight training classes including boot camp, cardio kick boxing, cardio dance, sculpt, balance, agility and core conditioning. Her teaching technique is energized, motivated, direct and meaningful. She practices what she preaches and delivers her passion for fitness in everything she does in life.