---
title: Megan Linge - Lateral Fitness Chicago
page_id: trainers
---

.row
  .twelve.columns
    %h4 Megan Linge
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/trainers/megan-linge-large.jpg', :class => "pull-left about-image"

    %p Megan’s fitness journey began when she was in high school, overweight and inactive. After joining her first gym in 1997 and making changes to her lifestyle, the extra weight dropped and her commitment to health and wellness continued to grow. During her time at Illinois State University, Megan worked at the Student Recreation Building and became an AFAA Group Exercise Instructor certified. Upon graduating with two degrees (Commercial Recreation and Program Management) along with an Exercise Science minor, Megan continued to work in the fitness industry. Her experiences range from commercial to corporate to governmental fitness programming. Megan has experienced first hand the cycle of poor food choices and not enough activity. She enjoys helping others identify and exceed their own goals.

    %p Megan is also certified as an AFAA Personal Trainer and has competed in two NPC Bikini Competitions. Her most recent accomplishments include being featured as a Rising Star in the August 2014 issue of Oxygen Magazine. When working with clients and participants, Megan’s approach features bodyweight movements and plyometrics, while incorporating free weights and resistance equipment. She has worked with athletes, beginners, prenatal clients, and more. Since having surgery in 2012 to treat a herniated disc, proper form, variety and moderation are especially important to Megan. She describes her classes and sessions as “exhilaratingly exhausting!” Come experience the feeling for yourself by booking a personal training session or group class today!
