---
title: Mike George - Lateral Fitness Chicago
page_id: trainers
---

.row
  .twelve.columns
    %h4 Mike George

.row.puff-bottom
  .three.columns
    = image_tag '/images/trainers/mike-george-large.jpg', :class => "pull-left about-image"

  .nine.columns
    %p Mike has earned multiple certifications over his 20 years as a personal trainer from organizations such as ACE and ACSM. Most recently Mike earned his Corrective exercise Certification from NASM in the winter of 2014. 

    %p National Media Coverage: NBC, CBS, WGN, the Wall Street journal, The New York Times 

    %p Local Media Coverage: Craine’s Chicago Business, The Chicago Tribune, The Sun Times, CLTV & 190North

    %p
      %b Business History and Partnerships:
    %ul.list-items
      %li Over 170,000 hours of dedicated service provided in Chicago.
      %li Fitness expert for Chicago Scene magazine; contributed health related articles geared towards the demographic of 25-35yrs old.
      %li Selected as head trainer for NBC's reality show "Starting Over".
      %li Designed and opened facility at the Italian center in Chicago.
      %li Contractual provider of weight-loss services for 100+locations of Accelerated Rehabilitation Systems.
      %li Currently consulting the Hispanic Housing Development Corporation on the development of their wellness program.
      %li Exclusive provider of medical weight-loss services and management at Advocate Illinois Masonic Medical Center, recently named one of the nation’s Top 10 healthcare companies.
      %li Software: Designed, developed and implemented a proprietary internet based, licensable patient/clinician tracking system. Recently licensed to AIMMC.