---
title: Scott McWilliam - Lateral Fitness Chicago
page_id: trainers
---

.row
  .twelve.columns
    %h4 Scott McWilliam

.row.puff-bottom
  .twelve.columns
    = image_tag '/images/trainers/scott-mcwilliam-large.jpg', :class => "pull-left about-image"

    %p Scott McWilliam, co-founder of Lateral Fitness, has been training since 2004.  Scott has a firm belief that education is key to the foundation of a trainer. Since 2004 Scott has been certified as a personal trainer through National Personal Training Institution, 2007 certified as a massage therapist through New School of Massage, 2009 certified in Muscle Activation Technique™ Specialist and 2012 as a Resistance Training Specialist&trade; Mastery.

    %p Scott’s training style is based on a steady incline gradient system by letting exercises evolve organically. It’s a progressive process to improve one’s muscular system in its ability to generate, sustain, and tolerate the stresses of exercise. If one has created the necessary control, which is essential in the safety of exercise, then they have earned the right to move faster or add load and there will be no problem in pushing one to a higher level of performance. When an individual’s body is running efficiently and is able to handle any type of demand from life, it’s known as creating a life-proof body.  Scott’s ability to manipulate exercise to fit any situation and his personal attention to detail of each exercise creates the exercise experience. It’s about increasing one’s confidence while having fun through this process called exercise, regardless of age and physical ability.

    %p "It’s not about motivation. It’s about commitment."

    %p Email #{link_to "scott@trainlateral.com", "mailto:scott@trainlateral.com"} for more information.