---
title: Scott McWilliam - Lateral Fitness Chicago
page_id: trainers
---

.row
  .twelve.columns
    %h4 Scott McWilliam

.row.puff-bottom
  .four.columns
    = image_tag '/images/trainers/scott-mcwilliam-large.jpg', :class => "pull-left about-image"

  .eight.columns
    %p Scott McWilliam, co-founder of Lateral Fitness, has been involved in the fitness industry since 2004.  As a MATm specialist Scott focuses primarily on improving the muscular system by "jump-starting" inefficient muscles, by allowing them to contract shorten properly. When muscles are able to contract shorten properly then the opposite side will automatically lengthen this may help to alleviate that tight sensation of muscles. Scott works with 18-80 year olds.  It ranges from helping them perform better in a sport or a race, handle stresses of every day life, getting up from a chair, or improving their balance.  Everyone can benefit from an optimal functioning muscular system.

    %p Scott believes, to improve joint health, it starts with the muscular system.  When muscles are able to contract shorten efficiently, then the muscles will protect the joint from the "unguarded moment" Ex: picking up a box and realizing it was heavier than expected, turning suddenly, or slipping off a curb.  This could limit one's chances of getting hurt in the process.  When the body is put under a specific or repeated force scenario muscles are need to respond on demand.  If the load is too much the muscles around those joints will go flaccid, as protection, leaving the soft tissue vulnerable for injury, loosing up to 50% of the ability of these muscles to contract-shorten, if the muscles aren't able to recover these muscles wont protect a joint and lead to a compensatory wear pattern.  This may lead to arthritis, joint problems, or, worse case scenario, joint replacements.

    %p It’s a progressive process to improve the muscular system in its ability to generate, sustain, and tolerate the stresses of life.  Scott fully believes when a body is able to sustain current stresses, its imperative to improve the force tolerance of the muscular system, through strategic exercise, to prepare the body for unsuspected situation.  The body is designed for motion and if it doesn't move, then muscles atrophy, bone density decreases, ligament tension decreases, hyaline cartilage and joint discs die, and the over all health of the body decreases dramatically.

.row
  .one.columns
  .ten.columns
    .panel.centered
      %h4.subheader "It's not about an able body; Its about an able ready body"
  .one.columns

.row
  .twelve.columns
    %h5.upper.subheader Accomplishments
    %ul.list-items
      %li 2004 certified as a personal trainer through National Personal Training Institution
      %li 2007 certified as a massage therapist through New School of Massage
      %li 2009 certified in Muscle Activation Technique&trade; Specialist
      %li 2012 as a Resistance Training Specialist&trade; Mastery
      %li 2013 achieved Muscle Activation Technique Master level Specialist

    %p Email #{link_to "scott@trainlateral.com", "mailto:scott@trainlateral.com"} for more information.

