---
title: Sharrod Graham - Lateral Fitness Chicago
page_id: trainers
---

.row
  .twelve.columns
    %h4 Sharrod Graham

.row.puff-bottom
  .twelve.columns
    = image_tag '/images/trainers/sharrod-large.jpg', :class => "pull-left about-image"

    %p Sharrod holds a Masters Degree in Education (MEd) from the University of Phoenix and a Bachelors Degree in Kinesiology-Athletic Training (Sports Medicine), with a double major in Exercise Science from the University of Illinois at Chicago (UIC) He is a Certified/Licensed Athletic Trainer (ATC/L) and a Certified Strength and Conditioning Specialist (CSCS). He is a Certified CPR/AED Instructor with the American Heart Association. In 2012, Sharrod created and implemented a strength and conditioning program for Whitney Young high school’s highly ranked boys varsity basketball program. Currently, he works for Metro South Hospital as an outreach Athletic Trainer for Morgan Park high school. He is an Adjunct Professor at St. Xavier University (spring 2014), teaching Sports Medicine. He has been a personal trainer since 1986.