---
title: Shelby Heator - Lateral Fitness Chicago
page_id: trainers
---

.row
  .twelve.columns
    %h4 Shelby Heator

.row.puff-bottom
  .twelve.columns
    = image_tag '/images/trainers/shelby-heator-large.jpg', :class => "pull-left about-image"

    %p Shelby believes that fitness is an integral part of living a long and happy life and as a personal trainer, it's her goal to make exercising fun, exciting and challenging. Her passion grew from helping clients reach their goals through hard work and dedication, thereby improving the quality of their life. Not wanting to 'count reps' Shelby wants to coach, teach, motivate and lead. Never asking clients to do things that she isn't willing to do herself Shelby isn't afraid to push her clients to be their best. There is no way to live as a healthy person without physical activity, as Albert Einstein said "nothing happens until something starts moving".