---
title: Lateral Fitness Chicago
---

.row
  .twelve.columns
    %h1 About Lateral Fitness
  .four.columns
    %img{:src => '/images/ropes-300x225.jpeg'}
  .eight.columns
    %p Lateral Fitness is the first of its kind in the Gold Coast/ River North area. It is a full amenity, walk-up, boutique studio located at 314 West Superior in Chicago, IL. Lateral Fitness has many of Chicago’s top personal trainers, group fitness instructors, MAT Specialists and Endurance Coaches that are extremely passionate about fitness education and knowledge.