---
title: About - Lateral Fitness Chicago
page_id: about
---

.row
  .large-12.columns
    %h4 About Lateral Fitness
.row.puff-bottom
  .large-12.columns
    = image_tag '/images/ropes-300x225.jpeg', :class => "pull-left about-image"
    %blockquote.left.colored
      .blockquote_wrapper
        %p Trainers listen to what I want and how MY body is reacting so I can have a rockin' workout and still be able to walk the next day.
        %span Wade C. Chicago, IL
    %p Lateral Fitness is the first of its kind in the Gold Coast/ River North area. It is a full amenity, walk-up, boutique studio located at 314 West Superior in Chicago, IL. Lateral Fitness has many of Chicago’s top personal trainers, group fitness instructors, MAT Specialists and Endurance Coaches that are extremely passionate about fitness education and knowledge.

    %p Erik Marthaler and Scott McWilliam, co-owners, have trained with each other since 2004. Each caters to a very specific niche in the fitness industry. In 2013 they combined forces to create Lateral Fitness where they provide a unique approach to personal training – combining the background of endurance sports with the details of human function.

    %p "Training Lateral" is a style of training that takes the “think outside of the box” approach- solving problems to attaining goals creatively and indirectly.  Accomplishing these fitness and health results require processes that may not be immediately obvious and involve ideas that may not be obtainable through conventional step-by-step logic.

    %p Erik Marthaler loves using progression (baby step approach) when personal training and will integrate progression into each of his client’s programs. Whether it is a person’s diet, weight loss program, endurance training plan or even rehabilitation, using a “periodization process” approach helps his clients to achieve their goals more efficiently and systematically. “Rome wasn’t built in a day” and neither was your body.

    %p Scott McWilliam has an obsession for detail and progression. Through his studies, Scott has developed an extensive understanding of human mechanics and anatomy.  Scott understands that everyone will fit somewhere within the spectrum of fitness. He respects that people have different individual needs and capabilities ranging from someone just exiting physical therapy to a high level athlete.  Scott firmly believes motion is created by a series of positions.  The stronger the positions the better the motion you will create.

    %p Erik and Scott have committed their lives in helping people reach their goals regardless of size and ability. Whether your goal is to run your first marathon or just to feel better throughout a normal day…Train Lateral.