---
title: Contact Us - Lateral Fitness Chicago
---

.row
  .eight.columns
    %iframe{:src => "http://maps.google.com/maps?q=314+West+Superior+chicago+il&hl=en&hnear=314+W+Superior+St,+Chicago,+Cook,+Illinois+60654&t=m&ie=UTF8&hq=&ll=41.895697,-87.636566&spn=0.011181,0.025749&z=15&iwloc=A&output=embed", :width => "100%", :height => "350", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0"}
  .four.columns
    %h2 
      Get in Touch!
    %ul
      %li 
        %i.icon-home 
        %span 314 West Superior LL-E Chicago IL 60654
      %li
        %i.icon-phone
        %span 312.291.9466
      %li
        %i.icon-phone
        %span 312.291.9726 (fax)
      %li
        %i.icon-envelope
        %span email@email.com
      %li
        %i.icon-facebook
        %span facebook.com/lateralfitness
          
        
