---
title: Contact Us - Lateral Fitness Chicago
page_id: contact
---

.row
  .eight.columns
    %iframe{:src => "http://maps.google.com/maps?q=314+West+Superior+chicago+il&hl=en&hnear=314+W+Superior+St,+Chicago,+Cook,+Illinois+60654&t=m&ie=UTF8&hq=&ll=41.895697,-87.636566&spn=0.011181,0.025749&z=15&iwloc=A&output=embed", :width => "100%", :height => "350", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0"}
  .four.columns
    %h6
      Get in Touch!
    %ul.get-in-touch
      %li 
        %i.icon-home 
        %span 314 West Superior LL-E Chicago IL 60654
      %li
        %i.icon-phone
        %span 312.291.9466
      %li
        %i.icon-phone
        %span 312.291.9726 (fax)
      %li
        %i.icon-envelope
        = link_to "info@trainlateral.com", "mailto:info@trainlateral.com"
    %h6
      Subscribe to our Newsletter
    %script{:type => "text/javascript", :src => "http://www.formstack.com/forms/js.php?1357687-sHzEIZBGIH-v3&jsonp"}
    %noscript
      %a{:href => "http://www.formstack.com/forms/?1357687-sHzEIZBGIH", :title => "Online Form"}
        Online Form - Constant Contact List Signup
    %div{:style => "text-align:right; font-size:x-small;"}
      %a{:href => "http://www.formstack.com/try-formstack?utm_source=h&utm_medium=jsembed&utm_campaign=fa&fa=h,1357687", :title => "Online Form Maker"}
        Online Form Maker
          
        
