---
title: Lateral Fitness Chicago
page_id: home
---

.row.slider
  .nine.columns.centered.slider-inner
    #featured.slider
      %img{:src => "/images/slider/bottle.jpg", :'data-caption' => "#captionOne"}
      %img{:src => "/images/slider/table.jpg", :'data-caption' => "#captionTwo"}
      %img{:src => "/images/slider/groupX.jpg", :'data-caption' => "#captionThree"}
      %img{:src => "/images/slider/equipment.jpg", :'data-caption' => "#captionFour"}
    %span.orbit-caption#captionOne
      %h4 Think Lateral. Train Lateral.
      %p We are committed to providing a knowledgeable, detailed environment, where you will be able to achieve fitness goals in a safe, progressive manner.
    %span.orbit-caption#captionTwo
      %h4 Muscle Activation Technique
      %p A range of motion assessment, non-invasive, manual manipulation to correct asymmetrical limitations.
    %span.orbit-caption#captionThree
      %h4 Group Classes
      %p Designed to fit everyone's needs and goals by top professionals.
    %span.orbit-caption#captionFour
      %h4 Personal Training
      %p One on one training from nationally accredited certified trainers.

.row.promos
  .ten.centered.columns
    %hr.colored
    %h4 What separates us from the competition?
    %hr.light
  .four.columns
    .panel
      %i.icon-flag
      %h4 Our Mission
      %p Understanding that sustaining a healthy lifestyle is a process, we are committed to provide a knowledgeable, detailed environment, where our clients will be able to achieve their fitness outcomes in a safe, progressive manner.
  .four.columns
    .panel
      %i.icon-eye-open
      %h4 Our Exclusiveness
      %p Lateral has a very exclusive environment. Lateral Fitness offers intimate group classes, a specifically selected group of trainers and instructors, very engaging staff to help clients with any needs, and no hassle of memberships.
  .four.columns
    .panel
      %i.icon-thumbs-up
      %h4 Our Amenities
      %p Lateral Fitness is a full amenity training boutique studio. Lateral Fitness offers: Private showers and changing rooms, fully stocked bathroom, high end product, towel service, filtered water, self serve tea, and waiting room
