---
title: Lateral Fitness Chicago
---

.row
  .nine.columns
    #featured
      %img{:src => "../images/slider/bottle.jpg"}
      %img{:src => "../images/slider/table.jpg"}
      %img{:src => "../images/slider/weights.jpg"}

.row
  .four.columns
    .panel
      %h3 Mission
      %p Understanding that sustaining a healthy lifestyle is a process, we are committed to provide a knowledgeable, detailed environment, where our clients will be able to achieve their fitness outcomes in a safe, progressive manner.
  .four.columns
    .panel
      %h3 Exclusiveness
      %p Lateral has a very exclusive environment. Lateral Fitness offers intimate group classes, a specifically selected group of trainers and instructors, very engaging staff to help clients with any needs, and no hassle of memberships.
  .four.columns
    .panel
      %h3 Amenities
      %p Lateral Fitness is a full amenity training boutique studio. Lateral Fitness offers: Private showers and changing rooms, fully stocked bathroom, high end product, towel service, filtered water, self serve tea, and waiting room
