---
title: Lateral Fitness Chicago
---

.row
  .twelve.columns
    %h1 Instructors
  
.row.team
  .four.columns.member
    .panel
      %img{:src => "/images/trainers/scott_mcwilliam.jpg", :class => "th"}
      .member_name
        %h5 Scott McWilliam
        .op Co-Founder, Trainer
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %img{:src => "/images/trainers/erik.jpg", :class => "th"}
      .member_name
        %h5 Erik
        .op Co-Founder, Trainer
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %img{:src => "/images/trainers/charlie.jpg", :class => "th"}
      .member_name
        %h5 John Simpson
        .op Project Manager
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %img{:src => "/images/trainers/scott_mcwilliam.jpg", :class => "th"}
      .member_name
        %h5 Scott McWilliam
        .op Co-Founder
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %img{:src => "/images/trainers/erik.jpg", :class => "th"}
      .member_name
        %h5 Erik
        .op Project Manager
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %img{:src => "/images/trainers/charlie.jpg", :class => "th"}
      .member_name
        %h5 John Simpson
        .op Project Manager
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}