---
title: Lateral Fitness Chicago
page_id: instructors
---
  
.row.team
  .four.columns.member
    .panel
      %a{:href => "/instructors/scott-mcwilliam"}
        %img{:src => "/images/trainers/scott-mcwilliam.jpg", :class => "th"}
      .member_name
        %a{:href => "/instructors/scott-mcwilliam"}
          %h5 Scott McWilliam
        .op Co-Founder, RTSm & MAT Specialist
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %a{:href => "/instructors/erik-marthaler"}
        %img{:src => "/images/trainers/erik.jpg", :class => "th"}
      .member_name
        %a{:href => "/instructors/erik-marthaler"}
          %h5 Erik Marthaler
        .op Co-Founder, Endurance & Weight Loss Specialist
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %a{:href => "/instructors/charlie-cates"}
        %img{:src => "/images/trainers/charlie.jpg", :class => "th"}
      .member_name
        %a{:href => "/instructors/charlie-cates"}
          %h5 Charlie Cates
        .op MAT and Strength & Conditioning Specialist
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %a{:href => "/instructors/becky-williamson"}
        %img{:src => "/images/trainers/becky.jpg", :class => "th"}
      .member_name
        %a{:href => "/instructors/becky-williamson"}
          %h5 Becky Williamson
        .op Personal Trainer and Nutritionist
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %a{:href => "/instructors/adrienne-marie"}
        %img{:src => "/images/trainers/adrienne-marie.jpg", :class => "th"}
      .member_name
        %a{:href => "/instructors/adrienne-marie"}
          %h5 Adrienne Marie
        .op Personal Trainer
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %a{:href => "/instructors/daniel-lona"}
        %img{:src => "/images/trainers/daniel-lona.jpg", :class => "th"}
      .member_name
        %a{:href => "/instructors/daniel-lona"}
          %h5 Daniel Lona
        .op HKC Kettlebell Instructor and NASM Nutrition Specialist
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %a{:href => "/instructors/rebecca-niziol"}
        %img{:src => "/images/trainers/rebecca-headshot.jpg", :class => "th"}
      .member_name
        %a{:href => "/instructors/rebecca-niziol"}
          %h5 Rebecca Niziol
        .op Yoga Instructor/Life Coach
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %a{:href => "/instructors/katarina-arneric"}
        %img{:src => "/images/trainers/katarina.jpg", :class => "th"}
      .member_name
        %a{:href => "/instructors/katarina-arneric"}
          %h5 Katarina Arneric
        .op Yoga Instructor
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %a{:href => "/instructors/jenny-finkel"}
        %img{:src => "/images/trainers/jenny.jpg", :class => "th"}
      .member_name
        %a{:href => "/instructors/jenny-finkel"}
          %h5 Jenny Finkel
        .op Yoga Instructor
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %a{:href => "/instructors/sarah-elizabeth-helt"}
        %img{:src => "/images/trainers/sarah-helt.jpg", :class => "th"}
      .member_name
        %a{:href => "/instructors/sarah-elizabeth-helt"}
          %h5 Sarah Elizabeth Helt
        .op Yoga Instructor
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
  .four.columns.member
    .panel
      %a{:href => "/instructors/rachel-jannsen"}
        %img{:src => "/images/trainers/rachel-jannsen.jpg", :class => "th"}
      .member_name
        %a{:href => "/instructors/rachel-jannsen"}
          %h5 Rachel Jannsen
        .op Yoga Instructor
      .member_desc
        .exc Lorem ipsum dolor sit amet, nsectetur dipiscsing elitiut adipiscing, urna egest mauris nisi dolorem mi, sit amet.
        .smallproflinks
          %a{:href => "#facebook", :class => "facebook_link tiptip", :title => "Facebook"}
          %a{:href => "#twitter", :class => "twitter_link tiptip", :title => "Twitter"}
