---
title: Lateral Fitness Chicago
---

.row
    
  .eleven.columns.centered
    %h3 1 Hour Class Packages

    .row.module_price_table.price_five
      .price_item.most_popular
        .price_item_wrapper
          .price_item_title
            %h2 Starter
          .price_item_cost
            %h1
              %span $
              25
          .price_item_text 3 classes
          .price_item_btn
            %a{:href => "#"} Get It Now!
      .price_item
        .price_item_wrapper
          .price_item_title
            %h2 Drop In
          .price_item_cost
            %h1
              %span $
              25
          .price_item_text 1 class
          .price_item_btn
            %a{:href => "#"} Get It Now!
      .price_item
        .price_item_wrapper
          .price_item_title
            %h2 Beginner
          .price_item_cost
            %h1
              %span $
              80
          .price_item_text 4 classes
          .price_item_btn
            %a{:href => "#"} Get It Now!
      .price_item
        .price_item_wrapper
          .price_item_title
            %h2 Amateur
          .price_item_cost
            %h1
              %span $
              152
          .price_item_text 8 classes
          .price_item_btn
            %a{:href => "#"} Get It Now!
      .price_item
        .price_item_wrapper
          .price_item_title
            %h2 Professional
          .price_item_cost
            %h1
              %span $
              216
          .price_item_text 12 classes
          .price_item_btn
            %a{:href => "#"} Get It Now!
            
  %hr.dark

  .eleven.columns.centered
    %h3 30 Minute Class Packages
    .row.module_price_table.price_three
      .price_item
        .price_item_wrapper
          .price_item_title
            %h2 Beginner
          .price_item_cost
            %h1 $20
          .price_item_text 1 classes
          .price_item_btn
            %a{:href => "#"} Get It Now!
      .price_item
        .price_item_wrapper
          .price_item_title
            %h2 Amateur
          .price_item_cost
            %h1 $68
          .price_item_text 4 classes
          .price_item_btn
            %a{:href => "#"} Get It Now!
      .price_item
        .price_item_wrapper
          .price_item_title
            %h2 Professional
          .price_item_cost
            %h1 $112
          .price_item_text 8 classes
          .price_item_btn
            %a{:href => "#"} Get It Now!
