---
title: Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    .row.services-row
      .three.columns.right
        %a{:href => '/', :class => 'th'}
          %img{:src => '/images/services/mat.jpg', :class => 'hide-for-small'}
      .nine.columns
        %h4 Muscle Activation Technique
        %p
          Bio-mechanical noninvasive manual manipulation to correct asymmetrical limitations. 
          %a{:href => '/services/muscle-activation-technique'}
            Learn More
            %i.icon-chevron-right
    .row.services-row
      .three.columns
        %a{:href => '/', :class => 'th'}
          %img{:src => '/images/services/endurance.jpg', :class => 'hide-for-small'}
      .nine.columns
        %h4 Endurance Training
        %p
          Periodization training to prepare you for marathons and triathlons.
          %a{:href => '/services/endurance-training'}
            Learn More
            %i.icon-chevron-right
    .row.services-row
      .three.columns.right
        %a{:href => '/', :class => 'th'}
          %img{:src => '/images/services/group.jpg', :class => 'hide-for-small'}
      .nine.columns
        %h4 Group Classes
        %p
          Classes to fit everyone's needs and goals by top professionals in the Chicago land area.
          %a{:href => '/services/group-classes'}
            Learn More
            %i.icon-chevron-right
    .row.services-row
      .three.columns
        %a{:href => '/', :class => 'th'}
          %img{:src => '/images/services/training.jpg', :class => 'hide-for-small'}
      .nine.columns
        %h4 Personal Training
        %p
          One on one training from nationally accredited certified trainers.
          %a{:href => '/services/personal-training'}
            Learn More
            %i.icon-chevron-right