---
title: Lateral Fitness Chicago
page_id: services
---

.row
  .twelve.columns
    %h1 Services
    .row
      .three.columns.right
        %a{:href => '/', :class => 'th'}
          %img{:src => '/images/services/mat.jpg'}
      .nine.columns
        %h2 Muscle Activation Technique
        %h5 
          Bio-mechanical noninvasive manual manipulation to correct asymmetrical limitations. 
          = link_to 'Learn More', '/'
      %hr.dark
    .row
      .three.columns
        %a{:href => '/', :class => 'th'}
          %img{:src => '/images/services/endurance.jpg'}
      .nine.columns
        %h2 Endurance Training
        %h5 
          Periodization training to prepare you for marathons and triathlons.
          = link_to 'Learn More', '/'
      %hr.dark
    .row
      .three.columns.right
        %a{:href => '/', :class => 'th'}
          %img{:src => '/images/services/group.jpg'}
      .nine.columns
        %h2 Group Classes
        %h5 
          Classes to fit everyone's needs and goals by top professionals in the Chicago land area.
          = link_to 'Learn More', '/'
      %hr.dark
    .row
      .three.columns
        %a{:href => '/', :class => 'th'}
          %img{:src => '/images/services/training.jpg'}
      .nine.columns
        %h2 Personal Training
        %h5 
          One on one training from nationally accredited certified trainers.
          = link_to 'Learn More', '/'
      %hr.dark
    