---
title: Adrienne Marie - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Adrienne Marie
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/instructors/adrienne-marie-large2.jpg', :class => "pull-left about-image"

    %p #{link_to "Adrienne", "http://www.adriefit.com", :target => "_blank"} is no stranger to the health and fitness world. Since 1995, she’s been personal training and since 2006 she’s been teaching group fitness classes.

    %p Adrienne has attained certifications with ACE, NSCA and NASM. She’s a former NPC fitness competitor and has won various personal training awards while employed with Bally Total fitness 1995-2004. She has extensive experience training all types of people including deaf, blind, paraplegic, morbidly obese, competition prep, sport specific and more. Her no nonsense approach to health and fitness is prevalent in all of her classes because she believes if you aren’t challenged there will be no change.

    %p Adrienne teaches all formats of cardio conditioning and weight training classes including boot camp, cardio kick boxing, cardio dance, sculpt, balance, agility and core conditioning. Her teaching technique is energized, motivated, direct and meaningful. She practices what she preaches and delivers her passion for fitness in everything she does in life.
