---
title: Becky Williamson - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Becky Williamson
.row.puff-bottom
  .twelve.columns
    %img.pull-left.about-image{:src => '/images/trainers/becky-williamson-large.jpg'}
    %p Becky C. Williamson is a Certified Personal Trainer with the American College of Sports Medicine (ACSM) and an avid athlete.  After suffering from a torn ACL and meniscus from a skiing accident over a decade ago, Becky realized the importance of balancing muscular strength with endurance activity. With this philosophy in mind, Becky has trained and completed numerous Olympic triathlons, half marathons, and marathons, and has mentored fellow athletes to complete various endurance races, as well.

    %p In addition to Becky’s focus in balanced fitness, she also holds a Bachelor’s of Science degree in Nutrition and Food Science from San Jose State University and a Masters of Science degree in Nutrition and Wellness from Benedictine University in Lisle, IL.  Becky believes good nutrition is essential for promoting a healthy lifestyle and effectively fueling an athlete’s performance.

    %p Becky is a member of ACSM, the American Academy of Nutrition and Dietetics (AND), Sports Cardiovascular and Wellness Nutritionist (SCAN- a practice group of the AND) and the Chicago and Illinois State Dietetic Associations.

    %p During her free time, Becky enjoys cooking, reading, running with her husband and playing with her two dogs.  Becky’s primary objective is to help her clients achieve their goals by developing a well-balanced lifestyle through expert fitness training and nutrition education.