---
title: Carla Coelho - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Carla Coelho
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/instructors/carla-coelho-large.jpg', :class => "pull-left about-image"
    
    %p Carla Coelho has worked in the fitness industry for over seven years as a group fitness instructor as well as a Pilates instructor. She is certified through AFAA and Power Pilates. She came to fitness after a successful career in sales. She realized she was missing something in her life and she found that what she was missing was helping and motivating others to be their best. She prides herself on teaching properly designed classes to all levels in a safe and fun manner. Come to her classes expecting to be challenged and have a great time!!