---
title: Charlie Cates - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Charlie Cates
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/trainers/charlie-cates-large.jpg', :class => "pull-left about-image"
    %p Char­lie Cates is a Mus­cle Acti­va­tion Tech­niques™ Spe­cial­ist (MATs) and a Cer­ti­fied Strength and Con­di­tion­ing Spe­cial­ist (CSCS), in addi­tion to hav­ing cer­ti­fi­ca­tions as a Cer­ti­fied Per­sonal Trainer (CPT) and Per­for­mance Enhance­ment Spe­cial­ist (PES) through NASM. He has com­pleted the RTS123 courses and is cur­rently work­ing his way through the mas­tery level RTS and MAT courses.

    %p A type 1 dia­betic and Williams Col­lege grad­u­ate, he is the owner and founder of Self Made® in Chicago, IL. He has worked with com­pet­i­tive ath­letes and every­day peo­ple of all ages and abil­ity lev­els, from 9-year-old kids to NFL MVP’s to 85-year-old retirees.

    %p Your body. Your training.