---
title: Daniel Lona - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Daniel Lona
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/trainers/daniel-lona-large.jpg', :class => "pull-left about-image"
    %p Daniel helps women achieve their leanest, firmest, and best bodies through strength training.  His goal is to help women who are tired of “spinning their wheels,” and want to end the frustration of ineffective exercise programs and diets that fail to deliver.  His guaranteed programs allow women to reclaim their attractive, healthy, and energetic body once and for all.

    %p Daniel offers private and semi-private training that specializes in Russian-style Kettlebell – a world-class system of strength training.  Yet kettlebell also covers cardio and flexibility, making for a time-saving and highly effective workout.  Daniel understands, though, that physical activity alone will not let you achieve your best body.  Which is why his programs include extensive and individualized nutritional coaching that focuses on gradually improving healthy eating, one habit at a time.

    %p His proudest certification is as an HKC Kettlebell Instructor, though he is also certified as a personal trainer through the American Council on Exercise (ACE).  Additionally, he is certified as Fitness Nutrition Specialist through NASM, and helps people move better and safely through his study and certification in the Functional Movement Screen (FMS).

    %p Daniel’s degrees include a B.S. in Microbiology at the University of Illinois, Urbana-Champaign, and a law degree from the University of Chicago.  But his greatest passion has been, and always will be, fitness and helping others achieve it.