---
title: Erik Marthaler - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Erik Marthaler
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/trainers/erik-marthaler-large.jpg', :class => "pull-left about-image"
    %p Erik Marthaler, co-founder of Lateral Fitness, has over 12 years of experience in the fitness world. He has a Bachelors in Science degree with a focus of Kinesiology: Exercise Science and Fitness from Illinois State University. Erik is a Team USA Triathlete and Duathlete, has a USAT (USA Triathlon) Level 1, USAC Level 3 Certified Coach, USATF (USA Track and Field), ACE (American Council in Exercise), HKC Kettlebell, and a TRX certification, Erik has the knowledge and talents to work with everyone from post-surgery rehabilitation, pre and post natal, cardiac rehab patients to training clients for fitness shows, Ironman races and a specialist in clients to want weight lost.

    %p Erik takes a Periodization style of training as well as a systematic approach to individualize each client’s training program no matter if they are a beginner or Elite. He understands that each individual is different and needs specific attention to their goals, asymmetries, and neuromuscular issues. By individualizing each program, he is extremely successful helping his clients reach and exceed their physical goals.

    %p You can also find Erik teaching beginner to intense interval training classes or setting up Comptrainer&trade; cycling tests for his athletes.

    %p 
      Email 
      = link_to "erik@trainlateral.com", "mailto:erik@trainlateral.com"
      for more information.