---
title: Jenny Finkel - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Jenny Finkel
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/trainers/jenny-finkel-large.jpg', :class => "pull-left about-image"
    %p Jenny Finkel began doing yoga as a scoliotic, asthmatic 12-year-old after reading an article about it in Seventeen magazine. Now that she is kind of an adult, she teaches yoga full-time. She completed her 200-hour training with YogaWorks, and followed that with a 50-hour specialized training in Therapeutic Yoga for Cancer at Duke Integrative Medicine. She recently relocated from New Orleans to Chicago, where she is pursuing her 500-hour certification from Moksha Yoga. Jenny would very much enjoy keeping in touch with you through her website, #{link_to "ChicagOmYoga.com", "http://www.chicagomyoga.com", :target => "_blank"}, and her facebook page, #{link_to "facebook.com/ChicagOmYoga", "http://www.facebook.com/ChicagOmYoga", :target => "_blank"}.