---
title: Katarina Arneric - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Katarina Arneric
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/trainers/katarina-arneric-large.jpg', :class => "pull-left about-image"
    %p Katarina Arneric is a yoga instructor, health coach, dance teacher, food blogger, photographer and over all mind/body/soul health enthusiast.  She loves the outdoors and was the first to bring Stand Up Paddleboard Yoga to Chicago in the Summer of 2011.  That’s yoga on a board, in the water!  Her mantra is “Life is not about finding yourself, life is about creating yourself.”  Every day she chooses to live her best life and seeks to help and inspire others to do the same.  Find weekly inspiration, food recipes, and nutrition information on her blog CreateWithKLA. Katarina graduated from the University of Texas with a BFA in dance, and also got her 200-hr RYT certification from Breath and Body Yoga in Austin, TX. Her most recent adventure has been pursuing her certification in Health Coaching at the Institute for Integrative Nutrition. Infusing her strong background in dance, passion for anatomy, music and awareness, Katarina teaches a unique Vinyasa style of Power Yoga guiding each student to experience personal growth in the body, mind, and spirit.