---
title: Molly Lersten - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Molly Lersten
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/instructors/molly-lersten-large2.jpg', :class => "pull-left about-image"
    
    %p Molly discovered pilates in 2008 as a new way to challenge her exercise routine and became hooked after her first mat pilates class. She loved the way it made her feel, look, and act. She has always been involved in sports and enthusiastic about health and fitness.

    %p Molly went to the University of Iowa for a degree in Health and Human Physiology. While in school, she decided to share her love of pilates with others after getting certified in group exercise through AFAA and doing her Pilates training through STOTT. After graduation, she moved to Chicago to follow her passion of promoting health to others by working in Community Relations for Advocate Children's Hospital and as an Educator for Lululemon on Rush Street. In her spare time she enjoys running along the lakeshore path, spending time with her friends, and exploring all Chicago has to offer!