---
title: Rachel Jannsen - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Rachel Jannsen
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/instructors/rachel-jannsen-large.jpg', :class => "pull-left about-image"
    %p A ballet dancer for 15 years, Rachel has long admired the artistry of movement. Upon graduating from Indiana University with degrees in art history and journalism, Rachel quickly learned that post-graduate life was an unpaved road teeming with challenges. She longed for the creative, expressive outlet the dance world provided and sought respite from her challenging job as a writer in the art world. A friend of Rachel’s had begun practicing yoga around this time and encouraged Rachel to take a class, given her background. Rachel was instantly drawn to the yogic path, desiring more of the light and peace she cultivated during her practice. She respected the yoga community’s desire to create a harmonious, compassionate place for all. She needed more of this goodness in her life. With the encouragement of her mom, Rachel enrolled in Moksha Yoga Chicago’s 200-hour teacher training and in-depth studies certification program in June 2011 and was certified in the fall of 2012. 

    %p Enrolling in Moksha Yoga’s certification program proved to be one of the most invaluable decisions she has made in her life. She uncovered her genuine love of sharing yoga with others through teaching. In her classes, Rachel seeks to spread the illuminative and liberating power of yoga with her students by creating a welcoming, balanced space. Central to Rachel’s classes is aligning each movement with the breath in order to foster growth through relaxation and acceptance. She regularly weaves poetry and art into her sequencing. She lives in Chicago, and when she’s not on her yoga mat, you can find her listening to the Rolling Stones, perusing an art gallery, or reading anything Patti Smith-related.