---
title: Rebecca Niziol - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Rebecca Niziol
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/trainers/rebecca-niziol-large.jpg', :class => "pull-left about-image"
    %p 
      Houston, Texas native, Rebecca has been a yogi for six years. Her practice includes vinyasa, hatha, and resorative aspects, as well as a passion for meditation. Rebecca was a professional dancer for the past 7 years, and finds that yoga is the perfect balance to any active lifestyle. She completed her 200 hour teacher training at Sonic Yoga in New York City, one of the most incredible experiences of her life thus far. Rebecca is also a life-purpose coach, and founded her company to inspire others to stop chasing their dream, and start living it! Check out 
      = link_to "rebeccaniziol.com", "http://www.rebeccaniziol.com/", :target => "_blank" 
      for more information.

    %p Rebecca enjoys bringing her dance background and coaching mindset into her classes, so expect an intention based flow that engages the entire body, mind, and spirit. Her style encourages people to be authentically who they are on and off the mat. She loves being an active part of the Chicago community as a lululemon ambassador, writer for Career Girl Network, and member of Step Up Women’s Network.