---
title: Sarah Elizabeth Helt - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Sarah Elizabeth Helt
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/trainers/sarah-elizabeth-helt-large.jpg', :class => "pull-left about-image"
    %p Sarah Elizabeth Helt is delighted to be working with the talented and knowledgable team at Lateral! Sarah found yoga after years of searching for the right 'work out'. She completed her 200 hour certification in Bali, Indonesia. Drawing inspiration from her background in performance and her travels in Indonesia. Sarah's flows are a creative re-imagining of the traditional asanas of yoga. "Yoga is about opening a dialogue between your body and your mind. Bring your own creative spirit and together we will create the practice that is best for you! I'm always open for suggestions, and new ways to challenge myself and my class. Namaste."