---
title: Sunny Ammons - Lateral Fitness Chicago
page_id: instructors
---

.row
  .twelve.columns
    %h4 Sunny Ammons
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/instructors/sunny-ammons-large.jpg', :class => "pull-left about-image"

    %p A graduate from Grand Valley State University and the National Personal Training Institute with a certification in Personal Training and Nutrition, Sunny has been training for 4 years, and spent 2 of those years on an international cruise ship. While the fitness component of her job is essential, the most rewarding part of her day is making a unique and honest connection with everyone she meets. She has an authentic curiosity about her clients as individuals and an inherent desire to help people with their life goals and challenges in and outside of the gym. Her clients describe her style as a ‘friendly intensity’, because each session is challenging and results driven, but also always positive and inspiring. Sunny’s ultimate goal is to help you realize that YOU have the power to transform the way your body looks and feels.
