---
title: 6 Week Challenge - Lateral Fitness Chicago
page_id: classes
---

.row
  .twelve.columns
    %h4.page-title 6 Week Challenge

.row.puff-bottom
  .twelve.columns
    %p The 6 Week Challenge with Adrienne is a diet bootcamp. It includes one group personal training session a week plus personal weekly nutritional guidance. You WILL lose weight, inches and body fat. All participants who finish the challenge receive a gift bag. Participant who loses the most body fat plus inches wins 3 personal training sessions or 30% off an 8 class package plus gift bag. Please contact Lateral for more info and to sign up.
  .twelve.columns
    %ul.block-grid.two-up.mobile-one-up
      - data.classes.challenge.each do |c|
        %li.member
          .panel.challenge-panel
            = image_tag "/images/classes/challenge/#{c.image}", :class => "th"

    %p If you are interested in learning more about 6 Week Challenge #{link_to "info@trainlateral.com", "mailto:info@trainlateral.com"}


