---
title: Kettlebell Classes - Lateral Fitness Chicago
page_id: services
---

.row
  .eight.columns
    %h4 Kettlebell Classes
  .four.columns
    %p.redirect.hide-for-small Looking for #{link_to "Yoga", "/services/yoga.html"} or #{link_to "High Intensity", "/services/high-instensity.html"} Classes?
.row.puff-bottom
  .twelve.columns
    = image_tag '/images/services/kettlebell_thumb.jpg', :class => "pull-left about-image"

    %p Kettlebell is a complete system of fitness that melts fat and tones muscle. Above all, it is a system of strength training, but it also provides awesome benefits in conditioning, mobility, and flexibility. Sessions are short and sweet. Whether you wish to drop dress sizes or become more athletic, nothing will get you there safer, faster, or with more fun than kettlebell training. Join this incredible movement today!