---
title: Kettlebell Program - Lateral Fitness Chicago
page_id: classes
---

.row
  .twelve.columns
    %h4.page-title Kettlebell Program

.row.puff-bottom
  .twelve.columns
    = image_tag '/images/classes/kettlebell.jpg', :class => "image-centered"

.row.puff-bottom
  .twelve.columns
    %p Kettlebell is a complete system of fitness that melts fat and tones muscle. Above all, it is a system of strength training, but it also provides awesome benefits in conditioning, mobility, and flexibility. Sessions are short and sweet. Whether you wish to drop dress sizes or become more athletic, nothing will get you there safer, faster, or with more fun than kettlebell training. Join this incredible movement today!
    %p For detailed information about how our Kettlebell Program can help you reach your goals, contact #{link_to "dan@lonafitness.com", "mailto:dan@lonafitness.com?subject=I'm Interested in Kettlebell Program"}