---
title: Yoga Classes - Lateral Fitness Chicago
page_id: classes
---

.row
  .twelve.columns
    %h4.page-title Yoga / Pilates Classes

.row
  .four.columns
    = image_tag '/images/classes/yoga3.jpg', :class => "class-image"
  .eight.columns
    %p How long have you been hearing about the benefits of yoga?  We all know yoga is great for promoting relaxation and alleviating stress, as well as improving posture, alignment, and breathing.  In addition to those advantages, yoga also improves balance, core strength, focus and mental acuity, and can help support weight loss efforts and athletic goals.  
 
    %p Now is the perfect time to integrate yoga into your fitness regimen.  At Lateral Fitness, we offer a variety of yoga styles, all led by our expert team of instructors.  Whether you are an experienced yogi looking for a new challenge, an endurance athlete seeking a practice to help recover and restore from your latest endeavor, or a yoga newbie wishing to explore the practice in an intimidation-free environment, we have a class for you!  Talk to any member of our friendly staff about which yoga style is best suited to your needs, and enjoy taking your practice to the next level in an intimate, boutique space with premium mats and props. Namaste!

.row.puff-bottom
  .twelve.columns.classes
    %ul.accordion
      - data.classes.yoga.each do |y|
        %li
          .title 
            = y.title 
            %span.level
              = y.level
          .content 
            = y.content

.row
  .twelve.columns
    .panel.radius
      %h5.alt Interested In Private Yoga?
      %p Lateral Fitness is now offering private yoga sessions with our top instructors!  Are you new to yoga and interested in starting the practice, but want to learn the basics before entering a group class?  An experienced student looking to deepen your practice?  Are you working around an injury or physical limitation? Let us tailor a yoga practice to your specific needs and schedule.  Book a 60-minute session at your convenience, and enjoy access to Lateral's premium mats and props, as well as our spa-like locker rooms and amenities.

    .panel.radius
      %h5.alt Referral Program
      %p Refer 3 friends who purchase any training or group class package and choose a complimentary group class of your choice. ($25 value)

    %p.large.centered Please keep checking back! Classes are added monthly!
    %hr.colored.eight.columns.centered.puff-bottom

    %span.note Class Policy
    %p.small Please show up 15 minutes before the start of the class for equipment set up. Since Lateral Fitness wants to keep each class moving smoothly you are not allowed to show up after the start of the class. Please notify Lateral Fitness if you are running late. We will release your reservation if you are not present at the start of class.

    %span.note Cancellations
    %p.small Due to our limit class sizes (15-20) Yoga (15-20) Pilates (8-10) Bootcamps, it is imperative for you to cancel your scheduled appointment within 12 hours of class time. If you fail to cancel within the allotted time you will be charged for the single price of the class or if you have purchased a package you will forfeit a session.