---
title: Yoga Classes - Lateral Fitness Chicago
page_id: classes
---

.row
  .eight.columns
    %h4 Yoga Classes
  .four.columns
    %p.redirect.hide-for-small Looking for #{link_to "High Intensity", "/classes/high-intensity.html"} or #{link_to "Kettlebell", "/classes/kettlebell.html"} Classes?

.row.puff-bottom
  .four.columns.hide-for-small
    = image_tag '/images/classes/group.jpg', :class => "about-image"
    = image_tag '/images/classes/yoga2.jpg', :class => "about-image"

  .eight.columns.classes
    %ul.accordion
      - data.classes.yoga.each do |y|
      %li.active
        .title y.title <span class="level">y.level</span>
        .content 
          y.content

.row
  .twelve.columns
    %p.large.subheader <b class="alt">Interested In Private Yoga?</b>

    %p Lateral Fitness is now offering private yoga sessions with our top instructors!  Are you new to yoga and interested in starting the practice, but want to learn the basics before entering a group class?  An experienced student looking to deepen your practice?  Are you working around an injury or physical limitation? Let us tailor a yoga practice to your specific needs and schedule.  Book a 60-minute session at your convenience, and enjoy access to Lateral's premium mats and props, as well as our spa-like locker rooms and amenities.

    %p.large.centered Please keep checking back! Classes are added monthly!
    
    %hr.colored.eight.columns.centered.puff-bottom

    %span.promo Referral Program
    %p Refer 3 friends who purchase any training or group class package and choose a complimentary group class of your choice. ($25 value)

    %span.note Class Policy
    %p Please show up 15 minutes before the start of the class for equipment set up. Since Lateral Fitness wants to keep each class moving smoothly you are not allowed to show up after the start of the class. Please notify Lateral Fitness if you are running late. We will release your reservation if you are not present at the start of class.

    %span.note Cancellations
    %p Do to our limit class sizes (15-20) Yoga (15-20) Pilates (8-10) Bootcamps, it is imperative for you to cancel your scheduled appointment within 12 hours of class time. If you fail to cancel within the allotted time you will be charged for the single price of the class or if you have purchased a package you will forfeit a session.

    